{% extends 'base.html' %}
{% block content %}
<div id="database-schema"></div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gojs/2.3.13/go.js"
  integrity="sha512-HzqrT6pK0ZqPQba45+jFMEI4yrh7ygeXOmHtjIV8PcXhNB2X/5cQjmdK0ODuCZyjeAMrakLjMd/UYXv8R9vrtQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div id="sample">
  <div id="myDiagramDiv" style="background-color: white; border: solid 1px black; width: 100%; height: 700px"></div>
</div>
<script>
  function init() {

    // Extracted data from the Django context
    const schemaData = {{ schema_data | safe}};
  
  // schemaData = JSON.parse(schemaData);
  const screenHeight = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
  const screenWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

  // Since 2.2 you can also author concise templates with method chaining instead of GraphObject.make
  // For details, see https://gojs.net/latest/intro/buildingObjects.html
  const $ = go.GraphObject.make;  // for conciseness in defining templates

  myDiagram =
    new go.Diagram("myDiagramDiv",   // must name or refer to the DIV HTML element
      {
        allowDelete: false,
        allowCopy: false,
        "undoManager.isEnabled": true
      });

  function colorSwitch(n) {
    const isDark = myDiagram.model.modelData.darkMode;
    if (n === "green") return (isDark ? "#429E6F" : "#62bd8e");
    if (n === "blue") return (isDark ? "#3f9fc6" : "#3999bf");
    if (n === "purple") return (isDark ? "#9951c9" : "#7f36b0");
    if (n === "red") return (isDark ? "#ff4d3d" : "#c41000");
    return "black";
  }

  // the template for each attribute in a node's array of item data
  const itemTempl =
    $(go.Panel, "Horizontal",
      $(go.Shape,
        { desiredSize: new go.Size(15, 15), strokeJoin: "round", strokeWidth: 3, stroke: "#eeeeee", margin: 2 },
        new go.Binding("figure", "figure"),
        new go.Binding("fill", "color", n => colorSwitch(n)),
        new go.Binding("stroke", "color", n => colorSwitch(n))
      ),
      $(go.TextBlock,
        { font: " 14px sans-serif", stroke: "black" },
        new go.Binding("text", "name"), new go.Binding("stroke", "", n => (myDiagram.model.modelData.darkMode) ? "#f5f5f5" : "#000000")),
    );
  // Create a ForceDirectedLayout and set some properties
  var layout = $(go.ForceDirectedLayout);
  layout.defaultSpringLength = 30;
  layout.defaultElectricalCharge = 100;

  // Set the layout for the diagram
  myDiagram.layout = layout;
  // define the Node template, representing an entity
  myDiagram.nodeTemplate =
    $(go.Node, "Auto",  // the whole node panel
      {
        selectionAdorned: true,
        resizable: true,
        // layoutConditions: go.Part.LayoutConditionsStandard & ~go.Part.LayoutConditionsNodeSized,
        fromSpot: go.Spot.LeftRightSides,
        toSpot: go.Spot.LeftRightSides,
        isShadowed: true,
        shadowOffset: new go.Point(4, 4),
        shadowColor: "#919cab"
      },
      new go.Binding("location", "location").makeTwoWay(),
      // whenever the PanelExpanderButton changes the visible property of the "LIST" panel,
      // clear out any desiredSize set by the ResizingTool.
      new go.Binding("desiredSize", "visible", v => new go.Size(NaN, NaN)).ofObject("LIST"),
      // define the node's outer shape, which will surround the Table
      $(go.Shape, "RoundedRectangle",
        { stroke: "#e8f1ff", strokeWidth: 3 },
        new go.Binding("fill", "", n => (myDiagram.model.modelData.darkMode) ? "#4a4a4a" : "#f7f9fc")
      ),
      $(go.Panel, "Table",
        {
          margin: 8,
          stretch: go.GraphObject.Fill,
          width: 160
        },
        $(go.RowColumnDefinition, { row: 0, sizing: go.RowColumnDefinition.None }),
        // the table header
        $(go.TextBlock,
          {
            row: 0, alignment: go.Spot.Center,
            margin: new go.Margin(0, 24, 0, 2),  // leave room for Button
            font: "bold 16px sans-serif"
          },
          new go.Binding("text", "key"),
          new go.Binding("stroke", "", n => (myDiagram.model.modelData.darkMode) ? "#d6d6d6" : "#000000")),
        // the collapse/expand button
        $("PanelExpanderButton", "LIST",  // the name of the element whose visibility this button toggles
          { row: 0, alignment: go.Spot.TopRight },
          new go.Binding("ButtonIcon.stroke", "", n => (myDiagram.model.modelData.darkMode) ? "#d6d6d6" : "#000000")),
        $(go.Panel, "Table",
          { name: "LIST", row: 1, stretch: go.GraphObject.Horizontal },
          $(go.TextBlock,
            {
              font: "bold 15px sans-serif",
              text: "Attributes",
              row: 0,
              alignment: go.Spot.TopLeft,
              margin: new go.Margin(8, 0, 0, 0),
            },
            new go.Binding("stroke", "", n => (myDiagram.model.modelData.darkMode) ? "#d6d6d6" : "#000000")),
          $("PanelExpanderButton", "NonInherited", // the name of the element whose visibility this button toggles
            {
              row: 0,
              column: 1
            },
            new go.Binding("ButtonIcon.stroke", "", n => (myDiagram.model.modelData.darkMode) ? "#d6d6d6" : "#000000")),
          $(go.Panel, "Vertical",
            {
              name: "NonInherited",
              alignment: go.Spot.TopLeft,
              defaultAlignment: go.Spot.Left,
              itemTemplate: itemTempl,
              row: 1
            },
            new go.Binding("itemArray", "items")),
          $(go.TextBlock,
            {
              font: "bold 15px sans-serif",
              text: "Inherited Attributes",
              row: 2,
              alignment: go.Spot.TopLeft,
              margin: new go.Margin(8, 0, 0, 0),
            },
            new go.Binding("visible", "visibility", Boolean),
            new go.Binding("stroke", "", n => (myDiagram.model.modelData.darkMode) ? "#d6d6d6" : "#000000")),
          // $("PanelExpanderButton", "Inherited", // the name of the element whose visibility this button toggles
          //   {
          //     row: 2,
          //     column: 1,
          //   },
          //   new go.Binding("visible", "visibility", Boolean),
          //   new go.Binding("ButtonIcon.stroke", "", n => (myDiagram.model.modelData.darkMode) ? "#d6d6d6" : "#000000")),
          // $(go.Panel, "Vertical",
          //   {
          //     name: "Inherited",
          //     alignment: go.Spot.TopLeft,
          //     defaultAlignment: go.Spot.Left,
          //     itemTemplate: itemTempl,
          //     row: 3
          //   },
          //   new go.Binding("itemArray", "inheriteditems"))
        )
      ) // end Table Panel
    );  // end Node

  // define the Link template, representing a relationship
  myDiagram.linkTemplate =
    $(go.Link,  // the whole link panel
      {
        selectionAdorned: true,
        layerName: "Background",
        reshapable: true,
        routing: go.Link.AvoidsNodes,
        corner: 5,
        curve: go.Link.JumpOver,
        isShadowed: true,
        shadowOffset: new go.Point(2, 2),
        shadowColor: "#919cab"
      },
      $(go.Shape,  // the link shape
        { stroke: "#f7f9fc", strokeWidth: 4 }),
      $(go.Panel, "Auto", { segmentIndex: 0, segmentOffset: new go.Point(22, 0) },
        $(go.Shape, "RoundedRectangle", { fill: "#f7f9fc" }, { stroke: "#eeeeee" }),
        $(go.TextBlock,  // the "from" label
          {
            textAlign: "center",
            font: "bold 14px sans-serif",
            stroke: "black",
            background: "#f7f9fc",
            segmentOffset: new go.Point(NaN, NaN),
            segmentOrientation: go.Link.OrientUpright
          },
          new go.Binding("text", "text"))),
      $(go.Panel, "Auto",
        {
          segmentIndex: -1,
          segmentOffset: new go.Point(-13, 0)
        },
        $(go.Shape, "RoundedRectangle", { fill: "#edf6fc" }, { stroke: "#eeeeee" }),
        $(go.TextBlock,  // the "to" label
          {
            textAlign: "center",
            font: "bold 14px sans-serif",
            stroke: "black",
            segmentIndex: -1,
            segmentOffset: new go.Point(NaN, NaN),
            segmentOrientation: go.Link.OrientUpright
          },
          new go.Binding("text", "toText"))),
    );

  // create the model for the E-R diagram
  const nodeDataArray = [
    {
      key: "Products", visibility: true, location: new go.Point(250, 250),
      items: [{ name: "ProductID", iskey: true, figure: "Decision", color: "purple" },
      { name: "ProductName", iskey: false, figure: "Hexagon", color: "blue" },
      { name: "ItemDescription", iskey: false, figure: "Hexagon", color: "blue" },
      { name: "WholesalePrice", iskey: false, figure: "Circle", color: "green", },
      { name: "ProductPhoto", iskey: false, figure: "TriangleUp", color: "red" }],
      inheriteditems: [{ name: "SupplierID", iskey: false, figure: "Decision", color: "purple" },
      { name: "CategoryID", iskey: false, figure: "Decision", color: "purple" }]
    },
    {
      key: "Suppliers", visibility: false, location: new go.Point(500, 0),
      items: [{ name: "SupplierID", iskey: true, figure: "Decision", color: "purple" },
      { name: "CompanyName", iskey: false, figure: "Hexagon", color: "blue" },
      { name: "ContactName", iskey: false, figure: "Hexagon", color: "blue" },
      { name: "Address", iskey: false, figure: "Hexagon", color: "blue" },
      { name: "ShippingDistance", iskey: false, figure: "Circle", color: "green", },
      { name: "Logo", iskey: false, figure: "TriangleUp", color: "red" }],
      inheriteditems: []
    },
    {
      key: "Categories", visibility: true, location: new go.Point(0, 30),
      items: [{ name: "CategoryID", iskey: true, figure: "Decision", color: "purple" },
      { name: "CategoryName", iskey: false, figure: "Hexagon", color: "blue" },
      { name: "Description", iskey: false, figure: "Hexagon", color: "blue" },
      { name: "Icon", iskey: false, figure: "TriangleUp", color: "red" }],
      inheriteditems: [{ name: "SupplierID", iskey: false, figure: "Decision", color: "purple" }]
    },
    {
      key: "Order Details", visibility: true, location: new go.Point(600, 350),
      items: [{ name: "OrderID", iskey: true, figure: "Decision", color: "purple" },
      { name: "UnitPrice", iskey: false, figure: "Circle", color: "green", },
      { name: "Quantity", iskey: false, figure: "Circle", color: "green", },
      { name: "Discount", iskey: false, figure: "Circle", color: "green" }],
      inheriteditems: [{ name: "ProductID", iskey: true, figure: "Decision", color: "purple" }]
    },
  ];
  const linkDataArray = [
    { from: "Products", to: "Suppliers", text: "0..N", toText: "1" },
    { from: "Products", to: "Categories", text: "0..N", toText: "1" },
    { from: "Order Details", to: "Products", text: "0..N", toText: "1" },
    { from: "Categories", to: "Suppliers", text: "0..N", toText: "1" }
  ];
  myDiagram.model = new go.GraphLinksModel(
    {
      copiesArrays: true,
      copiesArrayObjects: true,
      modelData: { darkMode: false },
      nodeDataArray: prepareData(schemaData),
      linkDataArray: prepareLinkData(schemaData)
    });
  }

  function buttonClick() {
    const myDiagramDiv = document.getElementById("myDiagramDiv");
    const button = document.getElementById("darkMode");
    myDiagramDiv.style["background-color"] = (button.innerHTML === "Dark Mode") ? "#242424" : "#ffffff";
    button.innerHTML = (button.innerHTML === "Dark Mode") ? "Light Mode" : "Dark Mode";
    colorSwitch();
  }

  function colorSwitch() {
    myDiagram.model.commit(m => {
      m.set(m.modelData, "darkMode", !m.modelData.darkMode);
    }, null);
  }

  function prepareData(data) {
    var lstnodeDataArray = []
    var lstlinkDataArray = []
    
    data.lst_apps.forEach(function (appName) {

      // Loop through each model in the app
      data.dct_data[appName].lst_app_models.forEach(function (modelName) {
        var modelData = data.dct_data[appName][modelName]
        var appNameModelName = appName + '.' + modelName
        var nodeData = {}
        // location: new go.Point(0,1)
        var nodeData = { key: appNameModelName, visibility: true, }
        var lstitemsData = []
        var lstinheriteditems = []
        if (typeof modelData.lst_column_details !== 'undefined') {
          $.each(modelData.lst_column_details, function (_, columnDetail) {
            var itemData = { name: columnDetail.field_name, dataType: columnDetail.datatype, isKey: modelData.lst_primary_fields.includes(columnDetail.field_name) };
            lstitemsData.push(itemData);
          });
          nodeData.items = lstitemsData
          nodeData.inheriteditems = lstinheriteditems
          lstnodeDataArray.push(nodeData)
        }
      });
    });
    
    return lstnodeDataArray
  }
  function prepareLinkData(data) {
    var lstlinkDataArray = []
    var lstfromtoMap = []
    data.lst_apps.forEach(function (appName) {

      // Loop through each model in the app
      data.dct_data[appName].lst_app_models.forEach(function (modelName) {
        var modelData = data.dct_data[appName][modelName]
        if (typeof modelData.lst_column_details !== 'undefined') {
          $.each(modelData.lst_joins_details, function (_, joinDetail) {
            var sourceName = joinDetail.source_app_full_name + '.' + joinDetail.source_model_name;
            var targetName = joinDetail.related_app_full_name + '.' + joinDetail.related_model_name;            
            if ((!lstfromtoMap.includes(sourceName + '###' + targetName)) && (!lstfromtoMap.includes(targetName + '###' + sourceName))) {
              lstfromtoMap.push(sourceName + '###' + targetName);
              lstlinkDataArray.push({ from: sourceName, to: targetName });
            }
          });
        }
      });
    });
    
    return lstlinkDataArray
  }

  window.addEventListener('DOMContentLoaded', init);


</script>
{% endblock %}